*{
    padding: 0px;
    margin: 0px;
    font-family: arial;
}

label, input{
    display: block;
    line-height: 30px;
    height: 30px;
    outline: none;
    font-size: 13px;
    width: 95%;
}


form{
    width: 330px;
    background-color: rgba(0,0,0,.2);
    padding: 20px;
    margin: 30px auto;
}

input[type='submit']{
    margin-top: 10px;
    cursor: pointer;
    width: 100%;
}

#esquerda{
    width: 35%;

    float: left;
}

h2{
    text-align: center;
}
#direita{
    width: 65%;

    float: left;
}


table {
    background-color: rgba(0,0,0,.2);
    width: 90%;
    margin: 30px auto;

}

tr{
    line-height: 30px;

}


tr#titulo{
    font-weight: bold;
    background-color: #646464;
    color: white;
}

td{
    padding: 0px 5px;
    background-color: rgba(0,0,0 .2);
}

a{
    background-color: white;
    color: black;
    padding: 5px;
    margin: 0px 5px;
    text-decoration: none;
}

.aviso{

    width:90% ;
    height: 50px;
    margin: 15px auto 0px;
}
img {
    width: 60px;
    display: block;
    float: left;

}

h4{
    float: left;
    line-height: 50px;
}